<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>dcm</title>
  </head>
  <body>
    name:<%=val._name %><br>
    id:<%= val._id%><br>
    addr:<%=val._addr %><br>
    prc:<%=val._purchasedCount %><br>
    pbc:<%=val._publishedCount %><br>
    pr:<%=val._purchasedSongs%><br>
    pb:<%=val._publishedSongs %><br>
  </body>
</html>
