<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>dcm</title>
  </head>
  <body>
    name:<%=val._name %><br>
    id:<%= val._id%><br>
    addr:<%=val._addr %><br>
    prc:<%=val._purchasedCount %><br>
    pbc:<%=val._publishedCount %><br>
    pr:<%=val._purchasedSongs%><br>
    pb:<%=val._publishedSongs %><br>
    <br>
    <form class="" action="/publish" method="post">
      <input type="text" name="uid" placeholder="uid">
      <input type="text" name="sid" placeholder="sid">
      <input type="text" name="name" placeholder="name">
      <input type="number" name="price" placeholder="price">
      <input type="submit" name="submit" value="publish">
    </form>
    <form class="" action="/buyLicense" method="post">
      <input type="text" name="sid" placeholder="sid">
      <input type="number" name="amount" placeholder="amount">
      <input type="submit" name="submit" value="buy">
    </form>

  </body>
</html>
